
# BlueJ files
# Compiled class file
# Log file
# Mobile Tools for Java (J2ME)
# Package Files #
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/target
*.class
*.ctxt
*.ear
*.iml
*.jar
*.log
*.rar
*.tar.gz
*.war
*.zip
*~
.mtj.tmp/
/.idea
/.mvn/wrapper/maven-wrapper.jar
hs_err_pid*
pom.xml.versionsBackup
